/* Main Section */
.white-box {
    background-color: white;
    width:380px;
    padding: 30px;
    margin: 0px auto 0px auto;
    box-sizing: border-box;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
    text-align: center;
}
.grey-box {
    background-color: #ECEEF1;
    color: #8D9096;
    margin: 32px -30px -30px -30px;
    padding: 30px;
    font-size: 10px;
}
/* General Section */
body {
    background-color: #ECEEF1;   
}
.lock-icon {
	height: 1em;
    width: .8em;
    margin-top: 2px;
    margin-right: 4px;
    vertical-align: text-top;
    display: inline-block;
    background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/1.0.0-dev.93/images/icon-whitelock@3x.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* Footer */